jupyter-book==0.13.1
# pin sphinxcontrib-bibtex to avoid error: https://github.com/executablebooks/jupyter-book/issues/1137
sphinxcontrib-bibtex==2.5.0 
pandas==1.2.1
matplotlib==3.3.3
plotly==4.14.3
sphinx-thebe==0.1.2
cookiecutter==1.7.2
numpy==1.18.0
ghp-import==2.1.0
