jupyter-book==0.9.1
# pin sphinxcontrib-bibtex to avoid error: https://github.com/executablebooks/jupyter-book/issues/1137
sphinxcontrib-bibtex==1.0.0 
pandas==1.2.1
matplotlib==3.3.3
plotly==4.14.3
sphinx-thebe==0.0.8
cookiecutter==1.7.2
numpy==1.18.0
ghp-import==1.0.0
