@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

#site-title {
    color: #0c3a6e !important;
    font-family: 'Special Elite', cursive !important;
}

h1 {
    color:rgb(11, 43, 86) !important;
}

.tablita {
    font-size: 90%;
}

.tablita tr > td:first-child {
    font-weight: bold;
}

.tablita p {
    margin-bottom: 0.5rem;
}

p {
  text-align: justify;
}

body {
    font-family: 'PT Serif', Lato, sans-serif !important;
}
